<div >
  <table>
    <tr>
      <th>Annoncør</th>
      <th>Format</th>
      <th>Farver</th>
      <th>Placerin</th>
      <th>Ordnr</th>
      <th>OK</th>
      <th>Side</th>
      <th>Fejl</th>
    </tr>
<tr  *ngFor="let a of annonce">
  <td>{{a.Annoncor}}</td>
  <td>{{a.Format}}</td>
  <td>{{a.Farve}}</td>
  <td>{{a.SidePlacering}}</td>
  <td>{{a.OrdreNr}}</td>
  <td><button name="fejl{{a.BladID}}" id="fejl" (click)="fejl(a)">Fejl</button><button  id="ok{{a.BladID}}" (click)="go(a)" name="Ok">OK</button><button id="send{{a.BladID}}" (click)="sendM(a)" style="visibility:hidden ">Send</button></td>
 <td><input style="visibility: hidden" id="side{{a.BladID}}" type="text"></td>
  <td >


    <select id="selected{{a.BladID}}">
<option id="option{{b.Id}}" *ngFor="let b of brands" [value]="b.Id" (selectionchange)="selectedVal(b.Id)">{{b.name}} </option>
      </select>



  </td>
<td>

</tr>
  </table>

{{selectedId}}
</div>
