<div class="content">
<div *ngFor="let d of deadline">
  <h4>{{d.Navn}}</h4>
  <table id="ejerforholdtable">

    <tr>
      <th>Uge</th>
      <th>Udkommer ikke</th>
      <th>Udgivelsesdato</th>
      <th>DeadLines for ordrer</th>
      <th>Ordre tid</th>
      <th>Udgiveles Dato</th>
      <th>DeadLines for Materiale</th>
      <th>D</th>
    <tr *ngFor="let l of d.Deadliens">
      <td><select  id="Week{{l.Linje}}}" (selectionchange)="selectedWeek($event, l)">

        <option selected value="{{l.Uge}}">{{l.Uge}}</option>
        <option *ngFor="let w of weeks" value="{{w.id}}">{{w.weeknumber}}</option>
      </select></td>
      <td><input type="checkbox" value="{{l.UdkommerIkke}}" id="udkommer{{l.Linje}}" (click)="udkommer($event)" ></td>
      <td><select id="UdGivelsesDato{{l.Linje}}" (change)="selectUdGivelsesDato($event, l)">
        <option selected value="{{l.UdgivelsesDato}}">{{l.UdgivelsesDato}}</option>
        <option *ngFor="let d of dates" value="{{d.id}}">{{d.date}}</option>
      </select></td>

      <td><select id="OrdreDeadLine{{l.Linje}}}" (selectionchange)="selectedOrdreDeadline($event, l)">
        <option selected value="{{l.OrdreDeadline }}">{{l.OrdreDeadline}}</option>
        <option *ngFor="let d of dates" value="{{d.date}}">{{d.date}}</option>
      </select></td>
      <td><select id="OrdreTid{{l.Linje}}" (selectionchange)="selectOdreTid($event, l)" >
        <option selected value="{{l.OrdreTid}}">{{l.OrdreTid}}</option>
        <option *ngFor="let t of tid" value="{{t.tid}}">{{t.tid}}</option>
      </select></td>

      <td>
        <select  id="Materiale{{l.Linje}}" (selectionchange)="selectedMateriale($event, l)">
          <option selected value="{{l.MaterialeTid}}">{{l.MaterialeTid}}</option>
          <option *ngFor="let t of tid" value="{{t.tid}}">{{t.tid}}</option>
        </select>

      </td>
      <td>
        <select id="MaterialeDeadLine{{l.Linje}}" (selectionchange)="selectMaterialDeadline($event, l)">
          <option selected value="{{l.MaterialeDeadline}}">{{l.MaterialeDeadline}}</option>
        </select>
      </td>
    </tr>

  </table>

  <div>
    <button (click)="update(d)">Opgrader</button>
  </div>
</div>
  <div>
    <table >

      <tr>
        <th>Uge</th>
        <th>Udkommer ikke</th>
        <th>Udgivelsesdato</th>
        <th>DeadLines for ordrer</th>
        <th>Ordre tid</th>
        <th>Udgiveles Dato</th>
        <th>DeadLines for Materiale</th>
      </tr>
      <tr >
        <td><select  id="Week" >


          <option *ngFor="let w of weeks" value="{{w.id}}">{{w.weeknumber}}</option>
        </select></td>
        <td><input type="checkbox" value="" id="udkommer" ></td>
        <td><select id="Udko" >

          <option *ngFor="let d of dates" value="{{d.id}}">{{d.date}}</option>
        </select></td>
        <td></td>
        <td><select id="OrdreDeadLine" >

          <option *ngFor="let d of dates" value="{{d.date}}">{{d.date}}</option>
        </select></td>
        <td><select id="OrdreTid" >

          <option *ngFor="let t of tid" value="{{t.tid}}">{{t.tid}}</option>
        </select></td>
        <td>
          <select id="UdGivelsesDato" >

            <option *ngFor="let d of dates" value="{{d.date}}">{{d.date}}</option>
          </select>
        </td>
        <td>
          <select  id="Materiale" >

            <option *ngFor="let t of tid" value="{{t.tid}}">{{t.tid}}</option>
          </select>

        </td>

        <td><button (click)="opret($event)">Opret</button></td>
      </tr>

    </table>

  </div>
</div>
