

<ng-container  *ngIf="isKomtakter">
  <app-kontakter [navn]="name"></app-kontakter>
</ng-container>

<ng-container *ngIf="isPriser">
  <app-priser [email]="stamBladEmail"></app-priser>
</ng-container>

<ng-container *ngIf="isDeadline1">
  <app-deadline [bladid]="bladid" [type]="type"> </app-deadline>
</ng-container>

<ng-container *ngIf="isDeadLine2">
  <app-dead-line2 ></app-dead-line2>
</ng-container>

<ng-container *ngIf="isAnnoncekontrol">
<app-annonce-kontrol [value]="value2"></app-annonce-kontrol>

</ng-container>
