<p>kontakter works!</p>
<mat-select ><mat-option *ngFor="let t of kontaktTyper" [value]="t.titel" >{{t.titel}}</mat-option></mat-select>
<table id="kontaktTable">
  <tr *ngFor="let k of kontaker">
    <td>{{k.BladId}}</td>
    <td><input type="text" id="name" value="{{k.Name}}" ></td>
    <td><input  type="email" id="email" value="{{k.Email}}" ></td>
<td>{{k.KontaktType}}</td>
    <td><input type="tel" value="{{k.telefonnummer}}" name="tlf"></td>
    <td>
     </td>
<td><mat-select [placeholder]="k.Title"><mat-option *ngFor="let w of kontaktTitlers"  value="{{w.Titel}}">{{w.Titel}}</mat-option></mat-select></td>
  </tr>

</table>
<button mat-button  (click)="update()">Opdater</button>
