
<div *ngIf="kontaker.length > 0 ">

<table id="kontaktTable">
  <tr><th>Blad Id</th><th>Name</th><th>Email</th><th>Telefon</th><th>Kontakt Type</th><th>Kontakt titel</th></tr>
  <tr *ngFor="let k of kontaker">
    <td>{{k.BladId}}</td>
    <td><input type="text" id="name" value="{{k.Name}}"  ></td>
    <td><input  type="email" id="email" value="{{k.Email}}"  ></td>
    <td><input type="tel" value="{{k.Telefonnummer}}" name="tlf" ></td>
    <td><mat-select [(ngModel)]="selectedKontaktType" [placeholder]="k.KontaktType"><mat-option *ngFor="let w of k.KontaktTyper"  value="{{w.Id}}">{{w.Titel}}</mat-option></mat-select>

     </td>

<td><mat-select [(ngModel)]="selelectKontatkTitel" [placeholder]="k.Titel"><mat-option *ngFor="let w of k.KontaktTitlers"  value="{{w.TitelID}}">{{w.Titel}}</mat-option></mat-select></td>
    <td><mat-checkbox  label="Opdater række"   (click)="saveToArray(k.Titel,k.KontaktType,k.Telefonnummer,k.BladId, k.Email,k.Name)"></mat-checkbox></td>
  </tr>

</table>
  <button mat-button  (click)="update()">Opdater</button>
</div>
<div *ngIf="kontaker.length ==0">
  <button  (click)="openDialog($event)">Tilføj  Kontakt</button>
</div>

